.footer {

    background-color: #2D314D;
    padding: 4rem 0;

    &__logo {
        margin-bottom: 3.2rem;
    }

    &__social {
        display: flex;
        justify-content: center;
        gap: 1.6rem;
        margin-bottom: 3.2rem;
    }

    &__list-item {
        color: white;
        font-size: 1.5rem;
        line-height: 2.5rem;
        letter-spacing: -0.23px;
        margin-bottom: 0.8rem;
    }

    &__copyright {
        margin-top: 2.4rem;
        font-size: 1.5rem;
        line-height: 2.5rem;
        letter-spacing: -0.23px;
    }

    &__bottom {
        margin-top: 3.2rem;
    }
}

@media screen and (min-width:768px) {

    .footer {
        padding: 4.8rem 2.4rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        &__container {
            display: flex;
        }

        &__bottom {
            flex-direction: column;
            margin: 0;
        }

        &__wrapper:nth-child(1){
            margin-right: 7rem;
        }

        &__wrapper:nth-child(2){
            margin-right: 6rem;
        }

        &__social, &__logo {
            margin: 0;
        }

        &__social {
            margin-top: 4rem;
        }

        &__logo-social {
            display: flex;
            flex-direction: column;
        }

    }
}