body {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    text-align: center;
}

h1, h2, h3 {
    font-weight: 300;
    color: hsla(231, 26%, 24%, 1);
}

p {
    color: hsla(231, 8%, 61%, 1);
}